:root {
  --df-again: #f26d6d;
  --df-hard: #f2a84a;
  --df-good: #6fd78b;
  --df-easy: #38d9e0;

  --df-font-weight-light: 300;
  --df-font-weight-normal: 400;
  --df-font-weight-medium: 500;
  --df-font-weight-semibold: 600;
  --df-font-weight-bold: 700;

  --df-font-size-2xs: 0.625rem;
  --df-font-size-xs: 0.75rem;
  --df-font-size-sm: 0.8125rem;
  --df-font-size-base: 0.875rem;
  --df-font-size-md: 1rem;
  --df-font-size-lg: 1.25rem;
  --df-font-size-xl: 1.5rem;
  --df-font-size-2xl: 1.75rem;
  --df-font-size-display: 3rem;

  --df-icon-size-sm: 1rem;
  --df-icon-size-md: 1.375rem;
  --df-icon-size-lg: 2.5rem;
  --df-icon-size-display: 3rem;
}

$df-breakpoint-mobile: 767px;
$df-breakpoint-desktop: 768px;
